@model IMT563_Utopia.Models.Account
@{
    ViewBag.Title = "Login";
    Layout = "";

}

<link href="~/CSS/cssleft.css" rel="stylesheet" />
<script src="~/Scripts/custom.js"></script>

<div id="back">
    <div class="backRight"></div>
    <div class="backLeft"></div>
</div>

<div id="slideBox">
    <div class="topLayer">
        <div class="left">
            <div class="content">
                <h2>Sign Up</h2>
                <form method="post" onsubmit="return false;">
                    <div class="form-group">
                        <input type="text" placeholder="username" />
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group"></div>
                    <div class="form-group"></div>
                </form>
                <button id="goLeft" class="off">Login</button>
                <button>Sign up</button>
            </div>
        </div>
        <div class="right">
            <div class="content">
                <h2>Login</h2>
                <form method="post" action="@Url.Action("Verify", "Account")">
                    <div class="form-group">
                        <label for="username" class="form-label">Username</label>
                        <input name="Name" type="text" required="required" />
                    </div>
                    <div>

                    </div>
                    <div class="form-group">
                        <label name="Name" for="username" class="form-label">Enter Password</label>
                        <input type="password" name="Password" required="required" />
                    </div>

                    <button id="login" type="submit">Login</button>
                    <input type="button" value="Don't have an account? Sign Up!" onclick="window.location.href='@Url.Action("Form", "Account" )'" />
                </form>
            </div>
        </div>
    </div>
</div>

<!--Inspiration from: http://ertekinn.com/loginsignup/-->